#landingPage {
    /* opacity 0.60 */
    background-color: rgba(0, 0, 0, .60);
}

body {
    background-image: url("https://th.bing.com/th/id/R.bfc3fcce831d4166ccd88825b1a97a5b?rik=jXeLAll0zoEcPg&riu=http%3a%2f%2f1.bp.blogspot.com%2f-TtqqpYhhkpE%2fVlstEHJvPWI%2fAAAAAAAAHa4%2fHK_VVcFBSAQ%2fs1600%2fProgrammer-Developer-Wallpaper.jpg&ehk=UQMfNNpJpeMY9OaR%2fnYPK3vWnejvb2iiCPKnI6QJDy8%3d&risl=&pid=ImgRaw&r=0");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;


}

#gmap_canvas {
    height: 80vh;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

